body {
    background-color: black;
}

h1, h2 {
    color: white;
}

img {
    /* width: 3%; */
    height: 3%;
    vertical-align: -20%;
    /* margin-top: 1rem; */
}

ul {
    color: white;
}

.grid {
    overflow: hidden;
    /* display: flex;
    gap: 2rem; */
    /* grid-template-columns: repeat(3, 1fr);
    gap: 1rem; */
}

.column {
    /* display: flex;
    flex-direction: column; */
    float: left;
    width: 33.33%;
    padding-right: 1rem;
    box-sizing: border-box;
}